<!--about page-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
          <blockquote>
            <p>Html Format</p>
            <small><a href="https://make-me-laugh.herokuapp.com/foos/action.html#">Action.html</a></small>
            <small>Its a Html page which redirect to the .html format page that content Git user searching page bar that search the git users repo.</small>
          </blockquote>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-body">
          <blockquote>
            <p>Json Format</p>
            <small><a href="https://make-me-laugh.herokuapp.com/foos/action.json">Action.json</a></small>
            <small>It will redirect to the acton.json page which contain the json format of Chuck Norris.io API .</small>
          </blockquote>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-body">
          <blockquote>
            <p>Xml Format</p>
            <small><a href="https://make-me-laugh.herokuapp.com/foos/action.xml">Action.xml</a></small>
            <small>It will redirect to the action.xml page which contain xml format style content .</small>
          </blockquote>
        </div>
    </div>
</div>