<!--html page    -->
    <!--<ul>-->
    <!--    #<% @actions.each do |action| %>-->
    <!--        <li><%= action %></li>-->
    <!--    #<% end %>-->
    <!--</ul>-->
    
<!--body paty-->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Github User</h4>
            <input type="text" class="form-control" placeholder="Find user" id="username"/>
        </div>
    </div>
</div>
<div class="container">
    <div id="profile"></div>
</div>

    
    
    