<!--body part-->
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
            <a class="all" href ="foos/action.html" id="awesome" data-title="HTML"></a>
        </div>
        <div class="panel-body">
            <a class="all" href ="foos/action.json" id="awesome" data-title="JSON"></a>
        </div>
        <div class="panel-body">
            <a class="all" href ="foos/action.xml" id="awesome" data-title="XML"></a>
        </div>
     </div>
    </div>
<!--end-->

